externals/art/runctrl_examples/xml_ctrl/DONOT_USE/chem_tracers.dtd

<!ELEMENT tracers (chemical+,artificial+)>
<!ELEMENT chemical (molar_mass,lifetime,transport,number)>
<!ATTLIST chemical
  id    ID    #REQUIRED
  full  CDATA #IMPLIED
  chemtr CDATA #IMPLIED
>
<!ELEMENT artificial (mol_weight, lifetime)>
<!ATTLIST artificial
  id    ID    #REQUIRED
>
<!ELEMENT molar_mass (#PCDATA)>
<!ELEMENT lifetime(#PCDATA)>
<!ELEMENT transport (#PCDATA)>
<!ELEMENT number (#PCDATA)>
